<aside id="howto-menu" ng-class="{ show: isShown, right: isMenuRight, small: isMenuSmall }" menu>
  <header>
    <span class="title centered">How-to</span>
  </header>
  <article class="list current">
    <div class="spacer"></div>
    <ul class="how-to">
      <li>
        <strong><span>1.</span> Open <span>remocialapp.com</span> on your TV or computer screen.</strong>
      </li>
      <li>
        <strong><span>2.</span> Connect to your screen by entering the given code.</strong>
      </li>
      <li>
        <strong><span>3.</span> Search a video on Vimeo. Tap to select. Tap again to play.</strong>
      </li>
      <li>
        <strong><span>4.</span> Pass the remote to your friends by pressing <span><i class="ss-icon">usergroup</i></span> !</strong>
      </li>
    </ul>
  </article>
</aside>